# Bluetooth executables and scripts
type bluetooth_loader, domain;
type bluetooth_loader_exec, exec_type, file_type;

# Start bdAddrLoader from init
init_daemon_domain(bluetooth_loader)

# Run init.qcom.bt.sh
allow bluetooth_loader shell_exec:file { entrypoint getattr read };
allow bluetooth_loader bluetooth_loader_exec:file { getattr open execute_no_trans };

# Set persist.service.bdroid.* and bluetooth.* property values
get_prop(bluetooth_loader, wcnss_prop)
set_prop(bluetooth_loader, bluetooth_prop)

r_dir_file(bluetooth_loader, persist_file)
r_dir_file(bluetooth_loader, persist_bluetooth_file)
allow bluetooth_loader smd_device:chr_file rw_file_perms;
allow bluetooth_loader sysfs_bluetooth_writable:file r_file_perms;
allow bluetooth_loader system_file:file execute_no_trans;
allow bluetooth_loader toolbox_exec:file rx_file_perms;
