# debugfs
type debugfs_ion, debugfs_type, fs_type;

# files
type carrier_file, fs_type;

# sysfs
type sysfs_fingerprint, sysfs_type, fs_type;
type sysfs_sensors, sysfs_type, fs_type;
