# debugfs
type debugfs_ion, debugfs_type, fs_type;
type debugfs_rmt, debugfs_type, fs_type;

# files
type carrier_file, fs_type;
allow carrier_file rootfs:filesystem associate;
allow firmware_file rootfs:filesystem associate;

# proc
type proc_wcnss_service, fs_type;

# sysfs
type sysfs_fingerprint, sysfs_type, fs_type;
type sysfs_sensors, sysfs_type, fs_type;
