allow netmgrd carrier_file:dir search;
allow netmgrd carrier_file:file rw_file_perms;
allow netmgrd netd_socket:sock_file w_file_perms;
r_dir_file(netmgrd, net_data_file)
allow netmgrd toolbox_exec:file rx_file_perms;
