type alarm_boot_prop, property_type;
type alarm_handled_prop, property_type;
type alarm_instance_prop, property_type;
type boot_animation_prop, property_type;
type boot_mode_prop, property_type;
type camera_prop, property_type;
type ctl_netmgrd_prop, property_type;
type ctl_qmuxd_prop, property_type;
type debug_gralloc_prop, property_type;
type freq_prop, property_type;
type graphics_vulkan_prop, property_type;
type hwui_prop, property_type;
type ipacm_prop, property_type;
type ipacm-diag_prop, property_type;
type msm_irqbalance_prop, property_type;
type opengles_prop, property_type;
type per_mgr_state_prop, property_type;
type perfd_prop, property_type;
type qemu_gles_prop, property_type;
type qemu_hw_mainkeys_prop, property_type;
type qti_prop, property_type;
type rmnet_mux_prop, property_type;
type sdm_idle_time_prop, property_type;
type sys_usb_configfs_prop, property_type;
type sys_usb_controller_prop, property_type;
type sys_usb_tethering_prop, property_type;
type vendor_rild_libpath_prop, property_type;
type vendor_system_prop, property_type;
type wcnss_prop, property_type;
type xlat_prop, property_type;
