<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.cyanogenmod.settings.device"
      android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <protected-broadcast android:name="com.cyanogenmod.settings.device.FP_HOME" />

    <application
        android:icon="@mipmap/ic_launcher_settings"
        android:label="@string/device_settings_app_name"
        android:theme="@style/Theme.Main"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:persistent="true">

        <provider
            android:name=".DeviceSettingsSearchIndexablesProvider"
            android:authorities="com.cyanogenmod.settings.device"
            android:multiprocess="false"
            android:grantUriPermissions="true"
            android:permission="android.permission.READ_SEARCH_INDEXABLES"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER" />
            </intent-filter>
        </provider>

        <receiver android:name="com.cyanogenmod.settings.device.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.cyanogenmod.settings.device.HtcGestureService"
            android:permission="HtcGestureService">
        </service>

        <activity
            android:name=".TouchscreenGestureSettingsActivity"
            android:label="@string/touchscreen_gesture_settings_title">
            <intent-filter>
                <action android:name="org.cyanogenmod.settings.device.GESTURE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ButtonSettingsActivity"
            android:label="@string/button_panel_title">
            <intent-filter>
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_settings_additional_buttons" />
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.device" />
        </activity>

        <activity android:name=".KeyHandler" />
    </application>
</manifest>
